*{
    box-sizing: border-box;
    background-color: #F5E3C9;
}

.full-page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}

/* Header Section */
header {
    color: #F5E3C9;
    padding: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    color: #430007;
    padding: 0;
    margin: 0;
    font-size: 3.0em;
}

header p {
    color: #430007;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    text-decoration: none;
    color: #430007;
}

.nav-bar a:hover,
:focus-visible {
    color: darkred;
}

/* Main Section */

.five-column {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-block: 25px;
}

.p1, .p2, .p3, .p4, .p5 {
   border: #430007 solid 2px;
   align-items: center;
}


main {
    text-align: center;
    color: #430007;
}

#sec1, #sec2, #sec3, #sec4, #sec5, #sec6, #sec7 {
    margin: 50px;
}

/*  Footer Section*/

footer {
    color: #430007;
    margin: 20px;
}
